a{
    text-decoration: none;
    padding: 10px; 
    font-weight: 600; 
    font-size: 20px;
    color: #ffffff;
    background-color: #eb0a0a; 
    border-radius: 6px;
    border: 2px solid #410000;
}
